
    <div class="footer">
        <div class="footertop">
            <div class="footertopimg"></div>
            <h1>CREATE & SHARE <span>YOUR WORK NOW</span></h1>
        </div>
        <div class="footerbottom">
            <div class="footerbottomelem"></div>
            <div class="footerbottomelem"></div>
            <div class="footerbottomelem"></div>
        </div>
    </div>
</body>
</html>