

<!-- <pre><%= error.stack %></pre> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="error">
        <div class="errstatus">
            <h1><%= error.status %></h1>
        </div>
        <div class="errmsg">
            <h1><%= message %></h1>
        </div>
        <a href="/">Return To Home</a>
    </div>

</body>
</html>