<%- include('partials/header') %>
    <!-- <h1>Welcome to AI.Work</h1>
    <h1>home page</h1>
    <a href="/login">Have an account</a>
    <a href="/register">create an account</a> -->
    <div class="main">
        <div class="page1">
            <div class="page1line1">
                <h1>ARE AI</h1>
                <p>What it will mean to be moved <br> by an AI's mindless creativity.</p>
                <div class="line1last">
                    <div class="findout">
                        <h3>FIND OUT</h3>
                        <div class="findoutgola">
                            <img src="/images/icons/1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="page1line2">
                <h1>ART PROGRAMS ...</h1>
            </div>
            <div class="page1line3">
                <div class="line3start">
                    <div class="stargola">
                        <img src="/images/icons/3.png" alt="">
                    </div>
                </div>
                <h1>RIPPING</h1>
                <div class="letgo">
                    <img src="/images/icons/4.png" alt="">
                    <div class="letgogola"></div>
                </div>
                <h1>OFF</h1>
            </div>
            <div class="page1line4">
                <h1>HUMAN ARTISTS?</h1>
            </div>
            <div class="marquee-container">
                <div class="marquee">&nbsp;|&nbsp; HTML &nbsp;|&nbsp; CSS &nbsp;|&nbsp; JavaScript &nbsp;|&nbsp; GSAP &nbsp;|&nbsp; EJS &nbsp;|&nbsp; Node &nbsp;|&nbsp; Express &nbsp;|&nbsp; MongoDB &nbsp;|&nbsp; Passport &nbsp;|&nbsp; Multer &nbsp;|&nbsp;</div>
                <div class="marquee">HTML &nbsp;|&nbsp; CSS &nbsp;|&nbsp; JavaScript &nbsp;|&nbsp; GSAP &nbsp;|&nbsp; EJS &nbsp;|&nbsp; Node &nbsp;|&nbsp; Express &nbsp;|&nbsp; MongoDB &nbsp;|&nbsp; Passport &nbsp;|&nbsp; Multer &nbsp;|&nbsp;</div>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>