<%- include('partials/header') %>
    <h1>Welcome to AI.Work</h1>
    <h1>home page</h1>
    <a href="/login">Have an account</a>
    <a href="/register">create an account</a>
<%- include('partials/footer') %>