<%- include('partials/header') %>
    <!-- <h1>Welcome to AI.Work</h1>
    <h1>home page</h1>
    <a href="/login">Have an account</a>
    <a href="/register">create an account</a> -->
    
    <div class="main">
        <div class="page1">
            <div class="page1line1">
                <h1>ARE AI</h1>
                <div class="paragraph">
                    <p>What it will mean to be moved by an AI's mindless creativity.</p>
                </div>
                <div class="line1last">
                    <img src="/images/icons/findout.png" alt="">
                </div>
            </div>
            <div class="page1line2">
                <h1>ART PROGRAMS <span class="dot3">...</span></h1>
            </div>
            <div class="page1line3">
                <div class="line3start">
                    <img src="/images/icons/stargola.png" alt="">
                </div>
                <h1>RIPPING</h1>
                <div class="letgo">
                    <img src="/images/icons/arrowcircle.png" alt="">
                </div>
                <h1>OFF</h1>
            </div>
            <div class="page1line4">
                <h1>HUMAN ARTISTS <span class="dot3">?</span></h1>
            </div>
            <div class="marquee-container">
                <div class="marquee">&nbsp;|&nbsp; HTML &nbsp;|&nbsp; CSS &nbsp;|&nbsp; JavaScript &nbsp;|&nbsp; GSAP &nbsp;|&nbsp; EJS &nbsp;|&nbsp; Node &nbsp;|&nbsp; Express &nbsp;|&nbsp; MongoDB &nbsp;|&nbsp; Passport &nbsp;|&nbsp; Multer &nbsp;|&nbsp;</div>
                <div class="marquee">HTML &nbsp;|&nbsp; CSS &nbsp;|&nbsp; JavaScript &nbsp;|&nbsp; GSAP &nbsp;|&nbsp; EJS &nbsp;|&nbsp; Node &nbsp;|&nbsp; Express &nbsp;|&nbsp; MongoDB &nbsp;|&nbsp; Passport &nbsp;|&nbsp; Multer &nbsp;|&nbsp;</div>
            </div>
        </div>
        <div class="page2">
            <div class="page2line1">
                <img src="/images/icons/page2.png" alt="">
            </div>
            <div class="page2line2">
                <div class="page2line2top">
                    <div class="page2line2topleft">
                        <div class="page2line2topleftline"></div>
                        <h2>CLIPDROP AI</h2>
                        <p class="totalimg">100 artwork</p>
                    </div>
                    <div class="page2line2topright">
                        <p>To create AI-generated art, artists use AI as a creative tool and work with algorithms to set up specific rules through which machines analyze thousands.</p>
                    </div>
                </div>
                <div class="page2line2bottom">
                    <div class="page2line2bottomleft">
                        <img src="/images/icons/5.png" alt="">
                    </div>
                    <div class="page2line2bottomright">
                        <div class="page2line2bottomrighttop">
                            <h1>120K</h1>
                            <h1>140+</h1>
                        </div>
                        <div class="page2line2bottomrightbottom">
                            <p>AI COLLECTION</p>
                            <p>AI PROGRAMMED</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="page3">
            <div class="page3top">
                <div class="page3topleft">
                    <h1>MEET THE <span>ARTIST</span></h1>
                </div>
                <div class="page3topright">
                    <p>To create AI-generated art, artists use AI as a creative tool and work with algorithms</p>
                </div>
            </div>
            <div class="page3bottom">
                
            </div>
        </div>    
        <div class="page5">
            <div class="page5top">
                <div class="page5topleft">
                    <div class="page5topleftline"></div>
                </div>
                <div class="page5topright">
                    <h1>WE KNOW</h1>
                    <h1>WHAT YOU THINK</h1>
                </div>
            </div>
            <div class="page5bottom">
                <div class="page5bottomelems">
                    <div class="page5bottomelemsleft">
                        <div class="cross">
                            <div class="horizontal"></div>
                            <div class="vertical"></div>
                        </div>
                    </div>
                    <div class="page5bottomelemsright">
                        <div class="acc-toggle">
                            <h1>What is AI (Artificial intelligence)?</h1>
                        </div>
                        <div class="acc-content">
                            <p>The theory and development of computer systems able to perform tasks that normally require human intelligence, such as visual perception.</p>
                        </div>
                    </div>
                </div>
                <div class="page5bottomelems">
                    <div class="page5bottomelemsleft">
                        <div class="cross">
                            <div class="horizontal"></div>
                            <div class="vertical"></div>
                        </div>
                    </div>
                    <div class="page5bottomelemsright">
                        <div class="acc-toggle">
                            <h1>How can AI draw something?</h1>
                        </div>
                        <div class="acc-content">
                            <p>To create AI-generated art, artists use AI as a creative tool and work with algorithms to set up specific rules through which machines analyze.</p>
                        </div>
                    </div>
                </div>
                <div class="page5bottomelems">
                    <div class="page5bottomelemsleft">
                        <div class="cross">
                            <div class="horizontal"></div>
                            <div class="vertical"></div>
                        </div>
                    </div>
                    <div class="page5bottomelemsright">
                        <div class="acc-toggle">
                            <h1>Can AI replace human artists?</h1>
                        </div>
                        <div class="acc-content">
                            <p>AI art can never replace human artists as they will always be required to choose the subject and its surroundings for producing the desired results.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="/javascripts/script.js"></script>
<%- include('partials/footer') %>