<%- include('partials/header') %>
    <h1>Create new Account</h1>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username"> <br><br>
        <input type="email" name="email" placeholder="email"> <br><br>
        <input type="number" name="contact" placeholder="contact"> <br><br>
        <input type="password" name="password" placeholder="Password"> <br><br>
        <input type="submit" value="create">
    </form> <br>
    <a href="/login">Already have an account ?</a>
<%- include('partials/footer') %>