<%- include('partials/header') %>
    <div class="loginregistercontainer">
        <div class="logregcont">
            <div class="logo">
                <a href="/"><img src="/images/logo/logodark.png" alt=""></a>
            </div>
            <h1>Create new Account</h1>
            <form action="/register" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="text" name="fullname" placeholder="Full Name" required> 
                <input type="email" name="email" placeholder="Email" required>
                <input type="number" name="contact" placeholder="Contact" required> 
                <input type="password" name="password" placeholder="Password"> 
                <input class="submit" type="submit" value="Create">
            </form>
            <p>Already have an AI.WORK account?</p>
            <a class="lastbutton" href="/login"><input class="submit" type="submit" value="Sign in"></a>
        </div>
    </div>
<%- include('partials/footer') %>