<%- include('partials/header') %>
<!-- <h1>Upload New Pin</h1><br>

<form id="uploadPostForm" action="/createpost" method="post" enctype="multipart/form-data">
    <input type="hidden" name="imageOption" value="upload"> 

    <input type="file" name="postimage" id="postimage" accept="image/*" required onchange="previewImage(event)"><br><br>

    <div id="imagePreviewContainer" style="display: none;">
        <p>Image Preview:</p>
        <img id="imagePreview" src="" alt="Preview" style="max-width: 100%; height: auto;"><br><br>
    </div>

    <input type="text" placeholder="Title" name="title" required><br><br>
    <textarea name="description" placeholder="Description"></textarea><br><br>
    <input type="submit" value="Create Post">
</form> -->


<div class="postcreatecontainer">
    <div class="createcont">
        <h1>Upload Art</h1>
        <form id="uploadPostForm" action="/createpost" method="post" enctype="multipart/form-data">
            <input type="hidden" name="imageOption" value="upload"> <!-- Hidden field to indicate upload -->
        
            <input type="file" name="postimage" id="postimage" accept="image/*" required onchange="previewImage(event)">
            <!-- Image preview container -->
            <div id="imagePreviewContainer">
                <h4>Preview:</h4>
                <div class="imgcontainer">
                    <img id="imagePreview" src="" alt="Preview" style="display: none;">
                </div>
            </div>
            
            <input type="text" placeholder="Title" name="title" required>
            <textarea name="description" placeholder="Description"></textarea>
            <input class="submit" type="submit" value="Create Post">
        </form>
        <p>Want to try AI Art</p>
        <!-- <a class="lastbutton" href="/register">Create new account</a> -->
        <a class="lastbutton" href="/generate"><input class="submit" type="submit" value="Generate with AI"></a>
    </div>
</div>

<script>
function previewImage(event) {
    const input = event.target;
    const previewContainer = document.getElementById('imagePreviewContainer');
    const preview = document.getElementById('imagePreview');

    if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = function(e) {
            preview.src = e.target.result;
            preview.style.display = 'flex';
        };

        reader.readAsDataURL(input.files[0]);
    } else {
        previewContainer.style.display = 'none';
    }
}
</script>

<%- include('partials/footer') %>
