@font-face {
  font-family: grifter;
  src: url(/fonts/grifterbold.otf);
}
@font-face {
  font-family: lexend;
  src: url(/fonts/lexendregular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
html, body {
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
a {
  text-decoration: none;
  color: #696969;
  font-size: 1.25vw;
  font-family: grifter;
  font-weight: 100;
  letter-spacing: 2px;
}
h1 {
  font-family: grifter;
}
p {
  font-family: lexend;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
input:focus {
  outline: none;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw 2vw ;
  z-index: 999999;
}
nav .navcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5vw;
  border-bottom: 1px solid #696969;
}
nav .navleft {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: aqua; */
}
nav .navmiddle {
  width: 42%; 
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .navmiddle .logocontainer {
  width: 40%;
}
nav .navright {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .navright .extraphone {
  display: none;
}
nav .menuicon {
  display: none;
}
.main {
  width: 100%;
  padding: 2vw 5vw;
}
.main .page1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .page1 .page1line1 {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 1vw; */
}
.main .page1 .page1line1 h1 {
  font-size: 9vw;
  line-height: 100%;
  color: #303030;
  /* margin-top: 3vw; */
}
.main .page1 .page1line1 .paragraph {
  width: 35%;
  padding: 1vw;
}
.main .page1 .page1line1 p {
  font-size: 1.5vw;
  line-height: 100%;
  letter-spacing: 2px;
  color: #666666;
}
.main .page1 .page1line1 .line1last {
  width: 25%;
}
.main .page1 .page1line2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  /* margin-bottom: 0.5vw; */
}
.main .page1 .page1line2 h1 {
  font-size: 9vw;
  line-height: 100%;
  color: #696969;
  letter-spacing: 3px;
}
.main .page1 .page1line3 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  /* margin-bottom: 1vw; */
  /* background-color: aquamarine; */
}
/* .main .page1 .page1line3 h1:first-child {
  padding-left: 1vw;
} */
.main .page1 .page1line3 h1 {
  font-size: 9vw;
  line-height: 100%;
  color: #303030;
}
.main .page1 .page1line3 .line3start {
  width: 7vw;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .page1 .page1line3 .letgo {
  width: 20%;
  /* height: 7vw; */
  /* background-color: burlywood; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .page1 .page1line3 .letgo img {
  width: 75%;
  /* height: 90%; */
  /* z-index: 2; */
}
.main .page1 .page1line4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.main .page1 .page1line4 h1 {
  font-size: 9vw;
  line-height: 100%;
  color: #303030;
  letter-spacing: 2px;
}
.marquee-container {
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  font-family: lexend;
  color: #636363;
  margin-top: 0.5vw;
}
.marquee {
  display: inline-block;
  font-size: 2vw;
  font-weight: 100;
  padding: 1vw 0;
}

.main .page2 {
  width: 100%;
  padding-top: 4vw;
}
.main .page2 .page2line1 {
  height: 30vw;
  margin-bottom: 4vw;
}
.main .page2 .page2line2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .page2 .page2line2 .page2line2top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 6vw;
  /* flex-direction: column; */
}
.main .page2 .page2line2 .page2line2top .page2line2topleft {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* background-color: bisque; */
}
.main .page2 .page2line2 .page2line2top .page2line2topleft .page2line2topleftline {
  /* background-color: aqua; */
  width: 100px;
  height: 1.75vw;
  border-top: 1.5px solid #303030;
}
.main .page2 .page2line2 .page2line2top .page2line2topleft h2 {
  font-family: grifter;
  letter-spacing: 1px;
  color: #303030;
  font-size: 2.5vw;
}
.main .page2 .page2line2 .page2line2top .page2line2topleft p {
  font-family: lexend;
  letter-spacing: 1px;
  color: #696969;
  font-size: 1.75vw;
}
.main .page2 .page2line2 .page2line2top .page2line2topright {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.main .page2 .page2line2 .page2line2top .page2line2topright p {
  font-family: lexend;
  letter-spacing: 1px;
  color: #303030;
  font-size: 2vw;
}
.main .page2 .page2line2 .page2line2bottom {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
} 
.main .page2 .page2line2 .page2line2bottom .page2line2bottomleft {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.main .page2 .page2line2 .page2line2bottom .page2line2bottomleft img {
  width: 10vw;
}
.main .page2 .page2line2 .page2line2bottom .page2line2bottomright {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.main .page2 .page2line2 .page2line2bottom .page2line2bottomright .page2line2bottomrighttop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .page2 .page2line2 .page2line2bottom .page2line2bottomright .page2line2bottomrighttop h1 {
  font-size: 9.5vw;
  line-height: 80%;
  color: #303030;
}
.main .page2 .page2line2 .page2line2bottom .page2line2bottomright .page2line2bottomrightbottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13vw;
}
.main .page2 .page2line2 .page2line2bottom .page2line2bottomright .page2line2bottomrightbottom p {
  font-size: 1.75vw;
  color: #303030;
  font-family: grifter;
  letter-spacing: 2px;
}













.main .page5 {
  padding-top: 4vw;
  width: 100%;
  /* height: 100vh; */
}
.main .page5 .page5top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 0 3vw 0;
}
.main .page5 .page5top .page5topleft {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-color: aqua; */
}
.main .page5 .page5top .page5topleft .page5topleftline {
  width: 100%;
  /* height: 50px; */
  border-top: 1.5px solid #303030;
}
.main .page5 .page5top .page5topright {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 8vw;
  /* background-color: aqua; */
}
.main .page5 .page5top .page5topright h1 {
  font-size: 6vw;
  line-height: 100%;
  color: #303030;
}
.main .page5 .page5top .page5topright h1:last-child {
  color: #696969;
}
.main .page5 .page5bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .page5 .page5bottom .page5bottomelems {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 2vw; */
  /* flex-direction: column; */
}
.main .page5 .page5bottom .page5bottomelems .page5bottomelemsleft {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .page5 .page5bottom .page5bottomelems .page5bottomelemsleft .cross {
  width: 2.5vw;
  height: 30px;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main .page5 .page5bottom .page5bottomelems .page5bottomelemsleft .horizontal {
  width: 100%;
  height: 0.5vw;
  background-color: #303030;
  position: absolute;
  border-radius: 3px;
} 
.main .page5 .page5bottom .page5bottomelems .page5bottomelemsleft .vertical {
  width: 100%;
  height: 0.5vw;
  background-color: #303030;
  rotate: 90deg;
  position: absolute;
  border-radius: 3px;
} 


.main .page5 .page5bottom .page5bottomelems .page5bottomelemsright {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 6vw 0 8vw ;
}
.main .page5 .page5bottom .page5bottomelems .page5bottomelemsright .acc-toggle {
  width: 100%;
  height: 100%;
  padding: 2vw 0;
}
.main .page5 .page5bottom .page5bottomelems .page5bottomelemsright .acc-toggle h1 {
  color: #303030;
  font-size: 3vw;
  letter-spacing: 1px;
}
.main .page5 .page5bottom .page5bottomelems .page5bottomelemsright .acc-content {
  width: 100%;
  /* display: none; */
  padding-bottom: 3vw;
  margin-bottom: 3vw;
}
.main .page5 .page5bottom .page5bottomelems .page5bottomelemsright .acc-content p {
  font-family: lexend;
  font-size: 1.5vw;
  color: #696969;
}













.loginregistercontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginregistercontainer .logregcont {
  width: 400px;
  height: auto;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loginregistercontainer .logregcont .logo {
  width: 70%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.loginregistercontainer .logregcont h1 {
  color: #303030;
  font-size: 2.5vw;
  font-family: grifter;
  margin: 2vw 0;
}
.loginregistercontainer .logregcont form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
  /* padding: 0 2vw; */
}
.loginregistercontainer .logregcont form input {
  width: 90%;
  padding: 0.75vw;
  font-size: 1.5vw;
  border-radius: 8px;
  border: 4px solid #d3d3d3;
  background-color: #d1d1d1;
  font-family: lexend;
}
.loginregistercontainer .logregcont form .submit {
  background-color: #303030;
  color: #E5E5E5;
  border: 4px solid #303030;
  font-family: grifter;
  letter-spacing: 1.5px;
}
.loginregistercontainer .logregcont form a {
  margin-top: 1.25vw;
}
.loginregistercontainer .logregcont p {
  margin: 1.25vw;
  font-size: 1.5vw;
  color: #303030;
}
.loginregistercontainer .logregcont .lastbutton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginregistercontainer .logregcont .lastbutton .submit {
  width: 90%;
  padding: 0.75vw;
  font-size: 1.5vw;
  border-radius: 8px;
  background-color: #E5E5E5;
  color: #303030;
  border: 1px solid #303030;
  font-family: grifter;
  letter-spacing: 1.5px;
}






.postcreatecontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}
.postcreatecontainer .createcont {
  /* width: 400px; */
  width: 100%;
  height: auto;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5vw 0;
}
.postcreatecontainer .createcont h1 {
  color: #303030;
  font-size: 2.5vw;
  font-family: grifter;
  margin-bottom: 2vw;
}
.postcreatecontainer .createcont .formContainer {
  width: 100%;
  height: 100%;
  /* background-color: rgb(8, 50, 50); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}
.postcreatecontainer .createcont .formContainer .right {
  width: 400px;
  height: 100%;
  /* background-color: rgb(8, 50, 50); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 4vw; */
}
.postcreatecontainer .createcont form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
  /* padding: 0 2vw; */
}
.postcreatecontainer .createcont form input {
  width: 90%;
  padding: 0.75vw;
  font-size: 1.5vw;
  border-radius: 8px;
  border: 4px solid #d3d3d3;
  background-color: #d1d1d1;
  font-family: lexend;
}
.postcreatecontainer .createcont form textarea {
  width: 90%;
  padding: 0.75vw;
  font-size: 1.5vw;
  border-radius: 8px;
  border: 4px solid #d3d3d3;
  background-color: #d1d1d1;
  font-family: lexend;
}
.postcreatecontainer .createcont #imagePreviewContainer {
  width: 390px;
  height: 100%;
  min-height: 370px;
  padding: 0.75vw;
  font-size: 1.5vw;
  border-radius: 8px;
  border: 4px solid #d3d3d3;
  background-color: #d1d1d1;
  font-family: lexend;
  color: #757575;
  overflow: hidden;
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
}
.postcreatecontainer .createcont #generatedImagePreview {
  width: 390px;
  height: 100%;
  min-height: 370px;
  /* padding: 0.75vw; */
  font-size: 1.5vw;
  border-radius: 8px;
  /* border: 4px solid #d3d3d3; */
  background-color: #d1d1d1;
  font-family: lexend;
  color: #757575;
  overflow: hidden;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.postcreatecontainer .createcont .imgcontainer {
  width: 100%;
  border-radius: 8px;
  border: none;
  overflow: hidden;
  margin-top: 1vw;
  /* margin-left: 4vw; */
}
.postcreatecontainer .createcont form .submit {
  background-color: #303030;
  color: #E5E5E5;
  border: 4px solid #303030;
  font-family: grifter;
  letter-spacing: 1.5px;
}
.postcreatecontainer .createcont form a {
  margin-top: 1.25vw;
}
.postcreatecontainer .createcont p {
  margin: 1.25vw;
  font-size: 1.5vw;
  color: #303030;
  text-align: center;
}
.postcreatecontainer .createcont .lastbutton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.postcreatecontainer .createcont .lastbutton .submit {
  width: 90%;
  padding: 0.75vw;
  font-size: 1.5vw;
  border-radius: 8px;
  background-color: #E5E5E5;
  color: #303030;
  border: 1px solid #303030;
  font-family: grifter;
  letter-spacing: 1.5px;
}
.postcreatecontainer .createcont .formContainer .right .genrateInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw; /* responsive 4vw*/
}
.postcreatecontainer .createcont .formContainer .right .genrateInput .genrateButtons {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  gap: 1vw; 
}
.postcreatecontainer .createcont .formContainer .right .genrateInput .genrateButtons button {
  background-color: #303030;
  color: #E5E5E5;
  border: 4px solid #303030;
  font-family: grifter;
  letter-spacing: 1.5px;
  font-size: 1.5vw;
  border-radius: 8px;
  padding: 0.75vw 1.65vw;
  /* border: 4px solid #d3d3d3; */
}
.postcreatecontainer .createcont .formContainer .right .genrateInput .genrateButtons button:nth-child(2) {
  background-color: #E5E5E5;
  color: #303030;
  border: 1px solid #303030;
  /* font-family: grifter; */
  letter-spacing: 0.5px;
  padding: 0.95vw 1vw;
  
}



.profile {
  width: 100%;
  height: auto;
  padding: 2vw 5vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.profile .profileHead {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile .profileHead .top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
}
.profile .profileHead .profileimg {
  border-radius: 50%; 
  height: 100px; 
  width: 100px; 
  position: relative; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  overflow: hidden;
  border: 1px solid #696969;
}
.profile .profileHead .profileimg img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  position: absolute;
}
.profile .profileHead .profileimg .uploadicon {
  width: 100%; 
  height: 100%; 
  background-color: aliceblue; 
  z-index: 9;
  cursor: pointer;
  opacity: 0;
}
.profile .profileHead h1 {
  text-transform: uppercase;
  margin-top: 12px;
}
.profile .profileHead h1 {
  text-transform: uppercase;
  margin-top: 12px;
  color: #303030;
}
.profile .profileHead h3 {
  font-family: lexend;
  color: #636363;
}
.profile .profileHead .profileButton {
  width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  gap: 1vw;
  padding: 1vw 0;
}
.profile .profileHead .profileButton a {
  background-color: #303030;
  color: #E5E5E5;
  border: 4px solid #303030;
  font-family: grifter;
  letter-spacing: 1.5px;
  font-size: 1.5vw;
  border-radius: 8px;
  padding: 0.75vw 1vw 0.5vw 1vw;
  line-height: 90%;
}
.profile .profileHead .profileButton a:last-child {
  background-color: #E5E5E5;
  color: #303030;
  border: 1px solid #303030;
  letter-spacing: 1.5px;
  padding: 0.85vw 1vw 0.75vw 1vw;
  line-height: 90%;
}

.profileArtContent {
  /* background-color: aquamarine; */
  width: 100%;
  height: auto;
}
.profileArtContent h1 {
  letter-spacing: 1px;
  margin: 2vw 0;
  text-transform: uppercase;
  color: #303030;
}
.profileArtContent .cards {
  height: 100%;
  column-width: 250px;
}
.profileArtContent .cards .card {
  width: 100%;
  overflow: hidden;
  background-color: #D1D1D1;
  padding: 0.75vw;
  margin-bottom: 1.5vw;
  border-radius: 8px;
  color: #757575;
  font-family: lexend;
}
.profileArtContent .cards .card h3 {
  text-transform: uppercase;
  color: #303030;
  margin-top: 5px;
  font-size: 1.25vw;
}
.profileArtContent .cards .card p {
  text-transform: capitalize ;
  margin-top: 5px;
  font-size: 1.25vw;
}
.profileArtContent .cards .card .downloadBtn {
  background-color: #303030;
  color: #E5E5E5;
  border: 4px solid #303030;
  font-family: grifter;
  letter-spacing: 1.5px;
  font-size: 1vw;
  border-radius: 8px;
  /* padding: 0.25vw 0.05vw; */
  padding:0.5vw 0.25vw 0.25vw 0.25vw;
  text-align: center;
  width: 60%;
  margin-top: 10px;
}
.postbutton {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.postbutton a {
  background-color: transparent;
  color: #303030;
  border: 1px solid #303030;
  font-family: grifter;
  letter-spacing: 1.5px;
  font-size: 1vw;
  border-radius: 8px;
  padding:0.75vw 0.25vw 0.5vw 0.25vw;
  text-align: center;
  width: 40%;
  margin-top: 10px;
}







.edit {
  width: 100%;
  height: auto;
  padding: 2vw 5vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: grifter;
}
.editcontainer {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  /* background-color: aqua; */
}
.editleft {
  /* width: 40%; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #666666; */
}
.editleft .profileimg {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #303030;
}
.editleft .postimg {
  width: 250px;
}
.editright {
  /* width: 50%; */
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}

.edit h1 {
  color: #303030;
  font-size: 2.5vw;
  font-family: grifter;
  margin: 2vw 0;
}
.edit form {
  width: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
  /* padding: 0 2vw; */
}
.edit form h2 {
  color: #303030;
}
.edit form h2 span {
  color: #757575;
}
.edit form .formline {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  width: 100%;
  gap: 10px;
}
.edit form .formline label {
  font-size: 1.75vw;
  color: #303030;
}
.edit form input {
  width: 100%;
  padding: 0.75vw;
  font-size: 1.5vw;
  border-radius: 8px;
  border: 4px solid #d3d3d3;
  background-color: #d1d1d1;
  font-family: lexend;
  color: #757575;
}
.edit form textarea {
  width: 100%;
  padding: 0.75vw;
  font-size: 1.5vw;
  border-radius: 8px;
  border: 4px solid #d3d3d3;
  background-color: #d1d1d1;
  font-family: lexend;
  color: #757575;
  field-sizing: content;
}
.edit button {
  width: 100%;
  padding: 0.75vw;
  font-size: 1.5vw;
  border-radius: 8px;
  background-color: #E5E5E5;
  color: #303030;
  border: 1px solid #303030;
  font-family: grifter;
  letter-spacing: 1.5px;
  margin-top: 1vw;
} 
.edit .delete button {
  width: 100%;
  padding: 0.75vw;
  font-size: 1.5vw;
  border-radius: 8px;
  color: #E5E5E5;
  background-color: #303030;
  border: 1px solid #303030;
  font-family: grifter;
  letter-spacing: 1.5px;
} 


.error {
  width: 100%;
  height: 100%;
  /* background-color: #303030; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}
.error .errstatus h1 {
  font-size: 25vw;
  /* line-height: 0%; */
  color: #303030;
  background: -webkit-linear-gradient(#303030, #D1D1D1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.error .errmsg h1{
  font-size: 4vw;
  margin-top: -4vw;
  color: #303030;
}
.error a{
  width: 250px;
  text-align: center;
  padding: 1vw 0.75vw 0.75vw 0.75vw;
  font-size: 1.5vw;
  border-radius: 8px;
  color: #E5E5E5;
  background-color: #303030;
  border: 1px solid #303030;
  font-family: grifter;
  letter-spacing: 1.5px;
} 


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: none; /* Changed to 'none' for better compatibility */
  appearance: textfield; /* Added for broader browser support */
}

@media (max-width: 820px) {
  .dot3 {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 2vw ;
  }
  nav .navcontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid #696969;
    position: relative;
  }
  nav .navleft {
    /* width: 30%; */
    display: none;
    /* align-items: center;
    justify-content: space-evenly; */
    /* background-color: aqua; */
  }
  nav .navmiddle {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* position: absolute; */

  }
  nav .navmiddle .logocontainer {
    width: 60%;
  }
  nav .navright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: -250px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D1D1D1;  
    z-index: 99;  
    padding: 8vw;
    border-radius: 8px;
    /* display: none; */
  }
  nav .navright a {
    font-size: 6vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  nav .navright .extraphone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  nav .menuicon {
    width: 10%;
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .menuicon .menuiconicon {
    width: 100%;
    position: relative;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    z-index: 999;  
  }
  nav .menuicon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    color: #303030;
  }





  /* .main {
    width: 100%;
    padding: 2vw 5vw;
  } */
  /* .main .page1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } */
  .main .page1 .page1line1 {
    /* width: 100%;
    /* background-color: aqua; 
    display: flex;
    align-items: center; */
    justify-content: space-evenly;
    margin-bottom: 1vw;
  }
  .main .page1 .page1line1 h1 {
    font-size: 12vw;
    /* line-height: 100%;
    color: #303030; */
    /* margin-top: 3vw; */
  }
  .main .page1 .page1line1 .paragraph {
    /* width: 35%;
    padding: 1vw; */
    display: none;
  }
  /* .main .page1 .page1line1 p {
    font-size: 1.5vw;
    line-height: 100%;
    letter-spacing: 2px;
    color: #666666;
  } */
  .main .page1 .page1line1 .line1last {
    width: 35%;
  }
  .main .page1 .page1line2 {
    /* display: flex;
    align-items: center; */
    justify-content: center;
    margin-bottom: 1vw;
    /* width: 100%; */
    /* margin-bottom: 0.5vw; */
  }
  .main .page1 .page1line2 h1 {
    font-size: 10.5vw;
    /* line-height: 100%;
    color: #666666; */
    letter-spacing: 0px;
  }
  .main .page1 .page1line3 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1vw;
    /* margin-bottom: 1vw; */
    /* background-color: aquamarine; */
  }
  /* .main .page1 .page1line3 h1:first-child {
    padding-left: 1vw;
  } */
  .main .page1 .page1line3 h1 {
    font-size: 10.5vw;
    line-height: 100%;
    color: #303030;
  }
  .main .page1 .page1line3 .line3start {
    /* width: 7vw;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center; */
    display: none;
  }
  
  .main .page1 .page1line3 .letgo {
    width: 25%;
    /* height: 7vw; */
    /* background-color: burlywood; */
  
  }
  .main .page1 .page1line3 .letgo img {
    width: 75%;
    /* height: 90%; */
    /* z-index: 2; */
  }
  .main .page1 .page1line4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .main .page1 .page1line4 h1 {
    font-size: 10.5vw;
    /* line-height: 100%;
    color: #303030; */
    letter-spacing: 0px;
  }
  .marquee-container {
    border-top: 1px solid #696969;
    border-bottom: 1px solid #696969;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-family: lexend;
    color: #636363;
    margin-top: 2vw;
  }
  .marquee {
    display: inline-block;
    font-size: 4vw;
    font-weight: 100;
    padding: 1vw 0;
  }
  

  .main .page2 {
    /* width: 100%; */
    padding-top: 5vw;
  }
  .main .page2 .page2line1 {
    height: 50vw;
    margin-bottom: 5vw;
  }
  .main .page2 .page2line2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main .page2 .page2line2 .page2line2top {
    /* width: 100%;
    display: flex;
    align-items: flex-start; */
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 10vw;
    /* flex-direction: column; */
  }
  .main .page2 .page2line2 .page2line2top .page2line2topleft {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* background-color: bisque; */
  }
  .main .page2 .page2line2 .page2line2top .page2line2topleft .page2line2topleftline {
    /* background-color: aqua; */
    width: 150px;
    height: 4vw;
    /* border-top: 1.5px solid #303030; */
  }
  .main .page2 .page2line2 .page2line2top .page2line2topleft h2 {
    /* font-family: grifter;
    letter-spacing: 1px;
    color: #303030; */
    font-size: 6vw;
  }
  .main .page2 .page2line2 .page2line2top .page2line2topleft p {
    /* font-family: lexend; */
    /* letter-spacing: 1px; */
    /* color: #696969; */
    font-size: 4vw;
    margin-bottom: 3vw;
  }
  .main .page2 .page2line2 .page2line2top .page2line2topright {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .main .page2 .page2line2 .page2line2top .page2line2topright p {
    font-family: lexend;
    letter-spacing: 1px;
    color: #303030;
    font-size: 4.5vw;
  }
  .main .page2 .page2line2 .page2line2bottom {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  } 
  .main .page2 .page2line2 .page2line2bottom .page2line2bottomleft {
    /* width: 30%; */
    display: none;
    /* align-items: flex-start;
    justify-content: flex-start; */
  }
  .main .page2 .page2line2 .page2line2bottom .page2line2bottomright {
    width: 100%;
    /* display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column; */
  }
  .main .page2 .page2line2 .page2line2bottom .page2line2bottomright .page2line2bottomrighttop {
    width: 100%;
    /*display: flex;
    align-items: center; */
    justify-content: center;
    gap: 13vw;
  }
  .main .page2 .page2line2 .page2line2bottom .page2line2bottomright .page2line2bottomrighttop h1 {
    font-size: 15vw;
    line-height: 80%;
    color: #303030;
  }
  .main .page2 .page2line2 .page2line2bottom .page2line2bottomright .page2line2bottomrightbottom {
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    gap: 14vw;
  }
  .main .page2 .page2line2 .page2line2bottom .page2line2bottomright .page2line2bottomrightbottom p {
    font-size: 3vw;
    color: #303030;
    font-family: grifter;
    letter-spacing: 2px;
  }
  














  .main .page5 {
    padding-top: 7vw;
    /* width: 100%; */
    /* height: 0; */
  }
  /* .main .page5 .page5top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 0 3vw 0;
  } */
  .main .page5 .page5top .page5topleft {
    /* width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start; */
    display: none;
    /* background-color: aqua; */
  }
  /* .main .page5 .page5top .page5topleft .page5topleftline {
    width: 100%;
    /* height: 50px; 
    border-top: 1.5px solid #303030;
  } */
  .main .page5 .page5top .page5topright {
    width: 100%;
    /* display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; */
    padding: 0 ;
    /* background-color: aqua; */
  }
  .main .page5 .page5top .page5topright h1 {
    font-size: 9vw;
    /* line-height: 100%;
    color: #303030; */
  }
  /* .main .page5 .page5top .page5topright h1:last-child {
    color: #696969;
  }
  .main .page5 .page5bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } */
  /* .main .page5 .page5bottom .page5bottomelems {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 2vw; 
    /* flex-direction: column; 
  } */
  /* .main .page5 .page5bottom .page5bottomelems .page5bottomelemsleft {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .main .page5 .page5bottom .page5bottomelems .page5bottomelemsleft .cross {
    width: 5vw;
    height: 5vw;
    /* background-color: blueviolet; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    position: relative; */
  }
  /* .main .page5 .page5bottom .page5bottomelems .page5bottomelemsleft .horizontal {
    width: 100%;
    height: 5px;
    background-color: #303030;
    position: absolute;
    border-radius: 3px;
  } 
  .main .page5 .page5bottom .page5bottomelems .page5bottomelemsleft .vertical {
    width: 100%;
    height: 5px;
    background-color: #303030;
    rotate: 90deg;
    position: absolute;
    border-radius: 3px;
  }  */
  
  
  /* .main .page5 .page5bottom .page5bottomelems .page5bottomelemsright {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 6vw 0 8vw ;
  }
  .main .page5 .page5bottom .page5bottomelems .page5bottomelemsright .acc-toggle {
    width: 100%;
    height: 100%;
    padding: 2vw 0;
  } */
  .main .page5 .page5bottom .page5bottomelems .page5bottomelemsright .acc-toggle h1 {
    /* color: #303030; */
    font-size: 5vw;
    /* letter-spacing: 1px; */
  }
  .main .page5 .page5bottom .page5bottomelems .page5bottomelemsright .acc-content {
    width: 100%;
    /* display: none; */
    padding-bottom: 3vw;
    margin-bottom: 25vw;
  }
  .main .page5 .page5bottom .page5bottomelems .page5bottomelemsright .acc-content p {
    /* font-family: lexend; */
    font-size: 4vw;
    /* color: #696969; */
  }






  /* .loginregistercontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .loginregistercontainer .logregcont {
    width: 95%;
    /* height: auto;
    /* background-color: aqua; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  }
  .loginregistercontainer .logregcont .logo {
    width: 80%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  .loginregistercontainer .logregcont h1 {
    /* color: #303030; */
    font-size: 8vw;
    /* font-family: grifter; */
    margin: 5vw 0;
  }
  .loginregistercontainer .logregcont form {
    /* width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    gap: 4vw;
    /* padding: 0 2vw; */
  }
  .loginregistercontainer .logregcont form input {
    /* width: 90%; */
    padding: 2vw;
    font-size: 5vw;
    border-radius: 6px;
    border: 8px solid #d3d3d3;
    /* background-color: #d1d1d1; */
    /* font-family: lexend; */
  }
  .loginregistercontainer .logregcont form .submit {
    /* background-color: #303030; */
    /* color: #E5E5E5; */
    border: 8px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
  }
  .loginregistercontainer .logregcont form a {
    font-size: 4vw;
    margin-top: 4vw;
  }
  .loginregistercontainer .logregcont p {
    margin: 4vw 0;
    font-size: 5vw;
    /* color: #303030; */
  }
  /* .loginregistercontainer .logregcont .lastbutton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .loginregistercontainer .logregcont .lastbutton .submit {
    width: 90%;
    padding: 2vw;
    font-size: 5vw;
    border-radius: 8px;
    background-color: #E5E5E5;
    color: #303030;
    border: 1px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
  }


  /* .postcreatecontainer {
    width: 100%;
    /* height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center; 
  }*/
  .postcreatecontainer .createcont {
    width: 95%;
  }
  .postcreatecontainer .createcont h1 {
    /* color: #303030; */
    font-size: 8vw;
    /* font-family: grifter; */
    margin: 5vw 0;
  }
  .postcreatecontainer .createcont .formContainer {
    /* width: 100%;
    height: 100%; */
    /* background-color: rgb(8, 50, 50); */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    gap: 4vw;
    flex-direction: column;
  }
  .postcreatecontainer .createcont .formContainer .right {
    width: 100%;
  }
  .postcreatecontainer .createcont form {
    gap: 4vw;
  }
  .postcreatecontainer .createcont form input {
    padding: 2vw;
    font-size: 5vw;
    border-radius: 6px;
    border: 8px solid #d3d3d3;
  }
  .postcreatecontainer .createcont form textarea {
    padding: 2vw;
    font-size: 5vw;
    border-radius: 6px;
    border: 8px solid #d3d3d3;
  }
  .postcreatecontainer .createcont #imagePreviewContainer {
    width: 310px;
    min-height: 50px;
    padding: 2vw;
    font-size: 5vw;
    border-radius: 6px;
    /* border: 4px solid #d3d3d3;
    background-color: #d1d1d1;
    font-family: lexend;
    color: #757575; */
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
  }
  .postcreatecontainer .createcont .imgcontainer {
    width: 100%;
    border-radius: 6px;
    border: none;
    overflow: hidden;
    margin-top: 3vw;
    /* margin-left: 4vw; */
  }
  .postcreatecontainer .createcont form .submit {
    border: 8px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
  }
  .postcreatecontainer .createcont form a {
    font-size: 4vw;
    margin-top: 4vw;
  }
  .postcreatecontainer .createcont p {
    margin: 4vw 0;
    font-size: 5vw;
    text-align: center;
  }
  /* .postcreatecontainer .createcont .lastbutton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .postcreatecontainer .createcont .lastbutton .submit {
    width: 90%;
    padding: 2vw;
    font-size: 5vw;
    border-radius: 8px;
    background-color: #E5E5E5;
    color: #303030;
    border: 1px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
  }

  .postcreatecontainer .createcont .formContainer .right .genrateInput {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vw; 
  }
  .postcreatecontainer .createcont .formContainer .right .genrateInput .genrateButtons {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 4vw; 
  }
  .postcreatecontainer .createcont .formContainer .right .genrateInput .genrateButtons button {
    /* background-color: #303030;
    color: #E5E5E5;
    border: 4px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
    font-size: 1.5vw;
    border-radius: 8px;
    padding: 0.75vw 1.65vw; */
    /* border: 4px solid #d3d3d3; */
    border: 8px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
    padding: 2vw;
    font-size: 5vw;
    border-radius: 6px;
  }
  .postcreatecontainer .createcont .formContainer .right .genrateInput .genrateButtons button:nth-child(2) {
    padding: 4vw 3vw;
    font-size: 5vw;
    border-radius: 8px;
    background-color: #E5E5E5;
    color: #303030;
    border: 1px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
  }
  






  .profile .profileHead .top {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    gap: 3vw;
  }
  .profile .profileHead .profileButton {
    /* width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; */
    gap: 3vw;
    padding: 4vw 0;
  }
  .profile .profileHead .profileButton a {
    /* background-color: #303030;
    color: #E5E5E5;
    border: 4px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
    font-size: 1.5vw;
    border-radius: 8px;
    padding: 0.75vw 1vw 0.5vw 1vw;
    line-height: 90%; */
    border: 6px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
    padding: 1.5vw 1.5vw 0.5vw 1.5vw;
    font-size: 5vw;
    border-radius: 6px;
  }
  .profile .profileHead .profileButton a:last-child {
    /* background-color: #E5E5E5;
    color: #303030;
    border: 1px solid #303030;
    letter-spacing: 1.5px;
    padding: 0.85vw 1vw 0.75vw 1vw;
    line-height: 90%; */
    padding: 3vw 2vw 2vw 2vw;
    font-size: 5vw;
    border-radius: 6px;
    background-color: #E5E5E5;
    color: #303030;
    border: 1px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
  }
  

  .profileArtContent .cards .card {
    /* width: 100%;
    overflow: hidden;
    background-color: #D1D1D1; */
    padding: 2vw;
    margin-bottom: 4.5vw;
    border-radius: 6px;
    /* color: #757575;
    font-family: lexend; */
  }
  .profileArtContent .cards .card h3 {
    /* text-transform: uppercase;
    color: #303030;
    margin-top: 5px; */
    font-size: 5vw;
  }
  .profileArtContent .cards .card p {
    /* text-transform: capitalize ;
    margin-top: 5px; */
    font-size: 5vw;
  }
  .profileArtContent .cards .card .downloadBtn {
    /* background-color: #303030;
    color: #E5E5E5;
    border: 4px solid #303030;
    font-family: grifter; */
    letter-spacing: 3px;
    font-size: 4vw;
    border-radius: 6px;
    padding: 2vw 1.65vw 1.5vw;
    /* text-align: center;
    width: 100%;
    margin-top: 10px; */
  }
  .profileArtContent h1 {
    /* letter-spacing: 1px; */
    margin: 6vw 0;
    /* text-transform: uppercase; */
    /* color: #303030; */
  }

  .postbutton a {
    /* background-color: transparent; */
    /* color: #303030; */
    /* border: 1px solid #303030; */
    /* font-family: grifter; */
    /* letter-spacing: 1.5px; */
    /* font-size: 5vw; */
    /* border-radius: 8px; */
    /* padding:0.75vw 0.25vw 0.5vw 0.25vw; */
    /* text-align: center; */
    /* width: 40%; */
    /* margin-top: 10px; */
    letter-spacing: 3px;
    font-size: 4vw;
    border-radius: 6px;
    padding: 3vw 1.5vw 2.25vw 1.5vw;
  }
  













  .edit {
    /* width: 100%; */
    /* height: auto; */
    padding: 2vw 5vw;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* flex-direction: column; */
    /* font-family: grifter; */
  }
  .editcontainer {
    /* display: flex; */
    /* width: 100%; */
    /* height: auto; */
    /* align-items: center; */
    /* justify-content: center; */
    gap: 4vw;
    /* background-color: aqua; */
    flex-direction: column;
  }
  .editleft {
    /* width: 40%; */
    /* height: 100%; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* background-color: #666666; */
  }
  .editleft .profileimg {
    width: 30vw;
    height: 30vw;
    /* border-radius: 50%;
    overflow: hidden;
    border: 1px solid #303030; */
  }
  .editright {
    /* width: 50%; */
    /* height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; */
    gap: 3vw;
  }

  .edit h1 {
    /* color: #303030; */
    font-size: 8vw;
    /* font-family: grifter; */
    /* margin: 2vw 0; */
  }
  .edit form {
    width: 310px;
    /* display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; */
    gap: 4vw;
    /* background-color: aqua; */
    /* padding: 0 2vw; */
  }
  .edit form .formline {
    /* display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column;
    width: 100%; */
    gap: 10px;
  }
  .edit form .formline label {
    font-size: 5vw;
    color: #303030;
  }
  .edit form input {
    /* width: 90%;
    padding: 0.75vw;
    font-size: 1.5vw;
    border-radius: 8px;
    border: 4px solid #d3d3d3;
    background-color: #d1d1d1;
    font-family: lexend;
    color: #757575; */
    padding: 2vw;
    font-size: 5vw;
    border-radius: 6px;
    border: 8px solid #d3d3d3;
  }
  .edit form textarea {
    /* width: 100%;
    padding: 0.75vw;
    font-size: 1.5vw;
    border-radius: 8px;
    border: 4px solid #d3d3d3;
    background-color: #d1d1d1;
    font-family: lexend;
    color: #757575;
    field-sizing: content; */
    padding: 2vw;
    font-size: 5vw;
    border-radius: 6px;
    border: 8px solid #d3d3d3;
  }
  .edit button {
    /* width: 100%;
    padding: 0.75vw;
    font-size: 1.5vw;
    border-radius: 8px;
    background-color: #E5E5E5;
    color: #303030;
    border: 1px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
    margin-top: 1vw; */
    /* width: 90%; */
    /* padding: 2vw; */
    padding: 2.95vw 2vw 2vw 2vw;
    font-size: 5vw;
    border-radius: 8px;
    background-color: #E5E5E5;
    color: #303030;
    border: 1px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
  } 
  .edit .delete button {
    /* width: 100%; */
    padding: 2.95vw 2vw 2vw 2vw;
    font-size: 5vw;
    border-radius: 8px;
    color: #E5E5E5;
    background-color: #303030;
    border: 1px solid #303030;
    font-family: grifter;
    letter-spacing: 1.5px;
  } 




  .error {
    /* width: 100%;
    height: 100%; */
    /* background-color: #303030; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    gap: 4vw;

  }
  /* .errstatus, .errmsg {
    width: 100%;
    text-align: center;
  } */
  .error .errstatus h1 {
    font-size: 38vw ;
    /* line-height: 0%; */
    /* color: #303030;
    background: -webkit-linear-gradient(#303030, #D1D1D1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }
  .error .errmsg h1{
    font-size: 10vw;
    margin-top: -6vw;
    /* color: #303030; */
  }
  .error a{
    width: 250px;
    padding: 2vw 0.75vw 0.75vw 0.75vw;
    font-size: 5vw;
    border-radius: 6px;
  } 


}